<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8"/>
    <link href="{{ url_for('static', path='/main_wnd.css') }}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="main_wnd.css" > -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} PmTool</title>
    {% endblock %}
</head>
<body>
    {% block page_content %}
<div class="menu">
    <h1 class="headerMenu">PmTool</h1>
    <div class="ProcessMining_menu">
        <h2 class="PD">Process Discovery</h2>
        <ul class="ProcessMining_list">
            <li>
                <a class="AlphaMiner" href="#alpha-model">Alpha Miner</a>
            </li>
            <li>
                <a class="modelInductive" href="#inductive-model">Inductive Miner</a>
            </li>
        </ul>    
    </div>
    <div class="ConforChecking_menu">
        <h2 class="CH">Conformance Checking</h2>
        <ul class="ConforChecking_list">
            <li>
                <a class="tokenConformance" href="#token-based-model">Token-based replay</a>
            </li>
        </ul>
    </div>
</div>
<div class="Panel">
    <div class="show_model">
        <img src="{{ url_for('static', path='/images/Show_Modelbkg.png') }}" alt="main image">
    </div>
    <div id="alpha-model">
        <h2 class="model_hAlpha">Alpha miner</h2>
        <div class="picture_of_alpha">
            <form method="get" action="/file/download" enctype="multipart/form-data">
                <label for="file">Choose log file</label>
                <input type="file" id="files" accept=".xes" name="file"><br>
                <button type="submit" value="Upload">Build</button>
            </form>
        </div>
    </div>
    <div id="inductive-model">
        <h2 class="model_hInductive">Inductive miner</h2>
        <div class="picture_of_inductive">
            <form method="get" action="/file/download" enctype="multipart/form-data">
                <label for="file">Choose image to upload</label>
                <input type="file" id="files" accept=".xes" name="file"><br>
                <button type="submit" value="Upload">Send</button>
            </form>
        </div>
    </div>
    <div id="token-based-model">
        <h2 class="model_hToken">Token-based replay</h2>
        <div class="picture_of_token">
            <form method="get" action="/file/download" enctype="multipart/form-data">
                <label for="file">Choose image to upload</label>
                <input type="file" id="files" accept=".xes" name="file"><br>
                <button type="submit" value="Upload">Send</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
   

    </script>
{% endblock %}
</body>
</html>