<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8"/>
    <link href="{{ url_for('static', path='/main_wnd.css') }}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="main_wnd.css" > -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} PmTool</title>
    {% endblock %}
</head>
<body>
{% block page_content %}
<div class="menu">
    <h1 class="headerMenu">PmTool</h1>
    <div class="ProcessMining_menu">
        <h2 class="PD">Process Discovery</h2>
        <ul class="ProcessMining_list">
            <li>
                <a class="AlphaMiner" href="#alpha-model">Alpha Miner</a>
            </li>
            <li>
                <a class="modelInductive" href="#inductive-model">Inductive Miner</a>
            </li>
            <li>
                <a class="modelHeuristics" href="#heuristics-model">Heuristics Miner</a>
            </li>
        </ul>    
    </div>
    <div class="ConforChecking_menu">
        <h2 class="CH">Conformance Checking</h2>
        <ul class="ConforChecking_list">
            <li>
                <a class="tokenConformance" href="#token-based-model">Token-based replay</a>
            </li>
        </ul>
    </div>
</div>
<div class="Panel">
    <div class="show_model">
        <img src="{{ url_for('static', path='/images/Show_Modelbkg.png') }}" alt="main image">
    </div>
    <div id="alpha-model">
        <h2 class="model_hAlpha">Alpha miner</h2>
        <div class="picture_of_alpha">
            <form method="post" action="/file/downloadAlpha" enctype="multipart/form-data">
                <label for="files" class="labelLog-btn">
                    <span class="input__file-button-text">Choose log file</span>
                </label><br>
                <input type="file" id="files" accept=".xes" name="file"><br>
                <button type="submit" value="Upload" class="build-btn">Build</button>
            </form>
            <!-- <img src="data:image/png;{{MyModel}}" alt="model"> -->
        </div>
        <div class="LogInform">
            <p>Start Activities: {{StartAct}}</p>
            <p>End Activities: {{EndAct}}</p>
            <p>Minimum Self Distance: {{GetMSD}}</p>
            <!-- <p id="StartAct"></p> -->
        </div>
    </div>
    <div id="inductive-model">
        <h2 class="model_hInductive">Inductive miner</h2>
        <div class="picture_of_inductive">
            <form method="post" action="/file/downloadInduct" enctype="multipart/form-data">
                <label for="filesInduct" class="labelLog-btn">
                    <span class="input__file-button-text">Choose log file</span>
                </label><br>
                <input type="file" id="filesInduct" accept=".xes" name="file"><br>
                <button type="submit" value="Upload" class="build-btn">Build</button>
            </form>
        </div>
        <div class="LogInform">
            <p>Start Activities: {{StartActInd}}</p>
            <p>End Activities: {{EndActInd}}</p>
            <p>Minimum Self Distance: {{GetMSDInd}}</p>
            <!-- <p id="StartAct"></p> -->
        </div>
    </div>
    <div id="heuristics-model">
        <h2 class="model_hHeuristics">Heuristics Miner</h2>
        <div class="picture_of_heuristics">
            <form method="post" action="/file/downloadHeuristics" enctype="multipart/form-data">
                <label for="filesHeur" class="labelLog-btn">
                    <span class="input__file-button-text">Choose log file</span>
                </label><br>
                <input type="file" id="filesHeur" accept=".xes" name="file"><br>
                <button type="submit" value="Upload" class="build-btn">Build</button>
            </form>
        </div>
        <div class="LogInform">
            <p>Start Activities: {{StartActHeu}}</p>
            <p>End Activities: {{EndActHeu}}</p>
            <p>Minimum Self Distance: {{GetMSDHeu}}</p>
            <!-- <p id="StartAct"></p> -->
        </div>
    </div>
    <div id="token-based-model">
        <h2 class="model_hToken">Token-based replay</h2>
        <div class="picture_of_token">
            <form method="post" action="/file/downloadConformance" enctype="multipart/form-data">
                <label for="filesConform" class="labelLog-btn">
                    <span class="input__file-button-text">Choose log file</span>
                </label><br>
                <input type="file" id="filesConform" accept=".xes" name="file"><br>
                <button type="submit" value="Upload" class="build-btn">Build</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>

    </script>
{% endblock %}
</body>
</html>