html,body{
	margin:0;
	padding:0;
	outline:none;
	background-color: #FFFFFF;
	font-family:"Work Sans";
	box-sizing:content-box; 
	scroll-behavior: smooth;
	display: inline-block;
	width: 100%;
}

.menu{
	border: 2px red;
	padding: 0;
	top: 0;
	margin: 0;
	padding: auto;
	background: linear-gradient(-45deg, #efd5ff 0%, #515ada 100%);
	width: calc(100% - 70vw);
	height: 100vh;
	position: fixed;
	left: 0;
}

.AlphaMiner,.modelInductive,.tokenConformance{
	cursor: pointer;
	text-decoration: none;
	color: #515ADA;
}

.headerMenu{
	font-weight: "bold";
	color: #FFFFFF;
	font-size: 32pt;
	text-align: center;
}

.PD, .CH{
	font-weight: normal;
	font-size: 24pt;
	color: #FFFFFF;
	padding-bottom: 6px;
}

ul {
	list-style: none; /* Remove HTML bullets */
	padding: 0;
	margin: 0;
  }
  
  li { 
	padding-left: 16px;
	font-size: 24pt;
	font-weight: normal;
	color: #FFFFFF; /* Or a color you prefer */ 
  }
  
  li::before {
	content: "|"; /* Insert content that looks like bullets */
	padding-right: 8px;
	color: #FFFFFF; /* Or a color you prefer */
  }
  
  
  .show_model{
	position: relative;
	display: inline-block;
	top: 0; 
	right: 0;
	width:70vw;
	height: 90vh;
	background-color: #ffffff;
  }
  img {
	max-width: 100%;
	height: auto;
  }

  .Panel{
	position: absolute;
	display: inline-block;
	right: 0;
	width:70vw;
	background-color: #ffffff;
  }

  #alpha-model{
	right: 0;
	width:70vw;
	height: 50vh;
	background-color: #ffffff;
	position: relative;
  }

  .picture_of_alpha,.picture_of_inductive,.picture_of_token{
	top:50%;
	position: absolute;
  }

  #inductive-model{
	right: 0;
	width:70vw;
	height: 50vh;
	background-color: #ffffff;
	position: relative;
  }

  #token-based-model{
	right: 0;
	width:70vw;
	height: 50vh;
	background-color: #ffffff;
	position: relative;
  }

  .picture_of_model{
	width: 50vw;
	height: 70vh;
	background-color: #515ADA;
	border: 3px #515ADA;
	position: absolute;
  	top: 30%;
  	left: 50%;
  	transform: translate(-50%, -30%);
  }

  .model_hAlpha,.model_hInductive,.model_hToken{
	text-align: left;
	left: 0;
	font-size: 24px;
	color: #515ADA;
  }


