html,body{
	margin:0;
	padding:0;
	outline:none;
	background-color: #FFFFFF;
	font-family:"Work Sans";
	box-sizing:content-box; 
	scroll-behavior: smooth;
	display: inline-block;
	width: 100%;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgba(81, 90, 218, 0.7);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: rgb(81, 90, 218);
  }

.menu{
	border: 2px red;
	padding: 0;
	top: 0;
	margin: 0;
	padding: auto;
	background: linear-gradient(-45deg, #efd5ff 0%, #515ada 100%);
	width: calc(100% - 70vw);
	height: 100vh;
	position: fixed;
	left: 0;
}

.AlphaMiner,.modelInductive,.tokenConformance{
	cursor: pointer;
	text-decoration: none;
	color: #FFFFFF;
}

.modelHeuristics{
	cursor: pointer;
	text-decoration: none;
	color: #FFFFFF;
}

.AlphaMiner:hover,.modelInductive:hover,.tokenConformance:hover{
	color: rgba(81, 90, 218, 0.7);
}

.modelHeuristics:hover{
	color: rgba(81, 90, 218, 0.7);
}

.headerMenu{
	font-weight: "bold";
	color: #FFFFFF;
	font-size: 32pt;
	text-align: center;
}

.PD, .CH{
	font-weight: normal;
	font-size: 24pt;
	color: #FFFFFF;
	padding-bottom: 6px;
	cursor: default;
	margin-left: 10px;
}

  ul {
	list-style: none; /* Remove HTML bullets */
	padding: 0;
	margin: 0;
  }
  
  li { 
	padding-left: 16px;
	font-size: 24pt;
	font-weight: normal;
	color: #FFFFFF; /* Or a color you prefer */ 
  }
  
  li::before {
	content: "|"; /* Insert content that looks like bullets */
	padding-right: 8px;
	color: #FFFFFF; /* Or a color you prefer */
  }
  
  .show_model{
	position: relative;
	display: inline-block;
	top: 0; 
	right: 0;
	width:70vw;
	height: 90vh;
	background-color: #ffffff;
  }

  img {
	max-width: 100%;
	height: auto;
  }

  .Panel{
	position: absolute;
	display: inline-block;
	right: 0;
	width:70vw;
	background-color: #ffffff;
  }

  .picture_of_alpha,.picture_of_inductive,.picture_of_token{
	top:50%;
	position: absolute;
	height: 30vh;
	border: 3px solid #515ADA;
  }

  .picture_of_heuristics{
	top:50%;
	position: absolute;
	border: 3px solid #515ADA;
  }

  #alpha-model{
	right: 0;
	width:70vw;
	height: 50vh;
	background-color: #ffffff;
	position: relative;
  }

  #inductive-model{
	right: 0;
	width:70vw;
	height: 50vh;
	background-color: #ffffff;
	position: relative;
  }

  #heuristics-model{
	right: 0;
	width:70vw;
	height: 50vh;
	background-color: #ffffff;
	position: relative;
  }

  #token-based-model{
	right: 0;
	width:70vw;
	height: 50vh;
	background-color: #ffffff;
	position: relative;
  }

  .picture_of_model{
	width: 50vw;
	height: 70vh;
	background-color: rgb(81, 90, 218);
	border: 3px #515ADA;
	position: absolute;
  	top: 30%;
  	left: 50%;
  	transform: translate(-50%, -30%);
  }

  .model_hAlpha,.model_hInductive,.model_hToken{
	text-align: left;
	left: 0;
	font-size: 24px;
	color: #515ADA;
	margin-left: 30px;
	padding: 0;
  }

  .model_hHeuristics{
	text-align: left;
	left: 0;
	font-size: 24px;
	color: #515ADA;
	margin-left: 30px;
	padding: 0;
  }

  .picture_of_alpha,.picture_of_inductive,.picture_of_token{
	display: inline-block;
	height: auto;
	width: 50vw;
	margin-left: 30px;
	position: relative;
	top:30%;
	text-align: center;
	left:10%;
  }

  .picture_of_heuristics{
	display: inline-block;
	height: auto;
	width: 50vw;
	margin-left: 30px;
	position: relative;
	top:30%;
	text-align: center;
	left:10%;
  }


  .labelLog-btn{
	background-color: #515ADA;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 20px;
	text-align: center;
	color: #FFFFFF;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	margin-top: 20px;
  }

  input[type=file]{
	opacity: 0;
  	visibility: hidden;
	position: absolute;
  }

  .input__file-button-text {
	line-height: 1;
	margin-top: 1px;
	padding: 10px 20px;
  }

  .build-btn{
	background-color: #515ADA;
	color: #FFFFFF;
	font-weight: normal;
	font-size: 20px;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	margin: 10px 0 10px 0;
	text-align: center;
	border-radius: 5px;
  } 


